.header-container {
    border: 1px solid black;
    background-color: black;
    padding: 8px 0;
}

a {
    text-decoration: none;
    margin: 0 10px;
}

.selected {
    font-weight: 700;
    color: orangered;
}

.unselected {
    font-weight: 700;
    color: white;
}