.home-container {
    max-width: 1000px;
    margin: 20px auto;

}

.product-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .home-container {
        max-width: 430px;
        margin: 20px auto;
    }

    .product-card-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .home-container {
        max-width: 680px;
        margin: 20px auto;

    }

    .product-card-container {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .home-container {
        max-width: 800px;
        margin: 20px auto;
    }

    .product-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .home-container {
        max-width: 1000px;
        margin: 20px auto;
    }

    .product-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}