.blog-container {
    max-width: 80%;
    text-align: justify;
    margin: 20px auto;
}

table {
    padding: 25px;
}

td {
    padding: 0 15px;
}

th {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .blog-container {
        max-width: 95%;
    }
}